<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
	<%= stylesheet_link_tag "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" %>
	<%= javascript_include_tag "http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js" %>
	<%= javascript_include_tag "http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js" %>
	<%= csrf_meta_tags %>
    <%= render "layouts/shim"%>
  </head>
  <body>
    <%= render "layouts/header"%>
    <div class="container">
	
	  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
	  
      <%= yield %>
	<%= render "layouts/footer"%>
	<%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>